<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbezwDuRjBIq7Qvd9vdO8pj9t81KKfzs0</string>
	<key>GCM_SENDER_ID</key>
	<string>337345450183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scriptmatter.alarm</string>
	<key>PROJECT_ID</key>
	<string>alarme-288bd</string>
	<key>STORAGE_BUCKET</key>
	<string>alarme-288bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337345450183:ios:7ad7bdcd1978fcfdb3eee2</string>
</dict>
</plist>